@using Microsoft.AspNetCore.Http
@using SocialNet.Core.Application.Helpers;
@using SocialNet.Core.Application.ViewModels.User;
@inject IHttpContextAccessor httpContextAccessor
@{var User = httpContextAccessor.HttpContext.Session.Get<UserViewModel>("user");}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info mb-3">
            <div class="container-fluid">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" style="height:50px; width:50px;" alt="Alternate Text" />
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="@(User!= null ? "Home" : "User")" asp-action="Index">Facebook</a>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        @if (User != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Product" asp-action="Index">Mis publicaciones</a>
                            </li>
                        }
                    </ul>
                    @if (User != null)
                    {

                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav ">
                            @if (User != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-danger fw-bold" asp-area="" asp-controller="User" asp-action="LogOut">Cerrar session</a>
                                </li>

                            }
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SocialNetwork - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
